# ==========================================
# Centralized Cloud Database (Supabase)
# ==========================================
DATABASE_URL=postgresql://postgres.hmystckhrffpnspzbpue:r5Diz%24x6g8-Ls3%25@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres

# ==========================================
# Local Broker & Storage
# ==========================================
REDIS_URL=redis://redis:6379
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
POSTGRES_PASSWORD=secretpassword
