# ==========================================
# Local PostgreSQL Database (In-Docker Primary)
# ==========================================
DATABASE_URL=postgresql://admin:secretpassword@postgres:5432/my_database
POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=my_database

# ==========================================
# Centralized Cloud Database (Supabase Sync/Snapshot Hub)
# ==========================================
SUPABASE_DATABASE_URL=postgresql://postgres.hmystckhrffpnspzbpue:r5Diz%24x6g8-Ls3%25@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres

# ==========================================
# Local Broker & Storage
# ==========================================
REDIS_URL=redis://redis:6379
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123

# ==========================================
# Label Studio
# ==========================================
LABEL_STUDIO_URL=http://localhost:8080
LABEL_STUDIO_API_KEY=ea808b6dfdf0fcf7719537579601cf4697aa0f88

# ==========================================
# Hugging Face Model Hub (Hybrid Cache-Aside)
# ==========================================
HF_REPO_ID=kkshaolin/yolo_box
HF_TOKEN=your_huggingface_token_here

